@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html, body {
    width: 100%;
    min-height: 100vh;
}
body{
background: -webkit-linear-gradient(to bottom, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

}

h1{
    text-align: center;
    margin: 50px 0;
    color: black;
}

.programme-list-container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
    display: flex;
    justify-content: center; 
}

ol li{
    margin-top: 1rem;
    cursor: pointer;
    color: black;
}

ol li:hover{
    color: #ca8deb;
}

